/* @tailwind base; */
/* @tailwind components; */
@tailwind utilities;

@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Space Grotesk", sans-serif;
}

.header {
  box-shadow: 0 1px 0 1px rgb(192, 192, 192);
  padding: 0.5rem 2rem;
  @media (max-width: 420px) {
    padding: 0.5rem 1.6rem;
  }
}

.headerIcon {
  font-family: "Winky sans", sans-serif;
  font-size: 1.6rem;
  font-optical-sizing: auto;
  @media (max-width: 420px) {
    font-size: 1.7rem;
  }
}

.toolsNav,
.aboutNav {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  cursor: pointer;
  position: relative;
}

.toolsNav::after,
.aboutNav::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #39393a;
  transition: width 0.5s ease, left 0.5s ease;
  transform: translateX(-50%);
  border-radius: 50px;
}

.toolsNav:hover::after,
.aboutNav:hover::after {
  width: 90%;
}

.colorNav {
  display: flex;
  justify-content: center;
}
