/* @tailwind base; */
/* @tailwind components; */
@tailwind utilities;

@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Iansui&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Space Grotesk", sans-serif;
}

.header {
  box-shadow: 0 1px 0 1px rgb(192, 192, 192);
  padding: 0.5rem 2rem;
  @media (max-width: 420px) {
    padding: 0.5rem 1.6rem;
  }
}

.headerIcon {
  font-family: "Winky sans", sans-serif;
  font-size: 1.6rem;
  font-optical-sizing: auto;
}

.toolsNav,
.aboutNav {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  cursor: pointer;
  position: relative;
}

@media (max-width: 500px) {
  .aboutNav {
    display: none;
  }

  .headerIcon {
    font-size: 1.5rem;
  }

  .headerNav {
    font-size: 0.9rem;
    padding-top: 0.2rem;
  }
}

.toolsNav::after,
.aboutNav::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #39393a;
  transition: width 0.5s ease, left 0.5s ease;
  transform: translateX(-50%);
  border-radius: 50px;
}

.toolsNav:hover::after,
.aboutNav:hover::after {
  width: 90%;
}

.colorNav {
  display: flex;
  justify-content: center;
}

/* COLOR SWATCH */

input[type="color"].selectColor {
  width: 40px;
  height: 40px;

  border-radius: 5px;

  border: none;

  padding: 0;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  outline: none;
  box-shadow: 0 0 0 1px #ddd;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 5px;
}

input[type="color"]::-moz-color-swatch {
  border: none;
  border-radius: 5px;
}

/* FONTS */

.p1-texts {
  max-width: 36rem;
}

.MainPage {
  font-family: "Poppins", sans-serif;
}

@media (max-width: 1024px) {
  .MainPage {
    padding-top: 6rem;
  }

  .p1 {
    flex-direction: column;
  }

  .p1-texts {
    max-width: 30rem;
  }

  .p1-title,
  .p1-description {
    text-align: center;
  }

  .p1-title {
    white-space: nowrap;
  }
}

@media (max-width: 670px) {
  .p1-title {
    font-size: clamp(1.8rem, 9vw, 5rem);
  }

  .MainPage {
  }

  .p1 {
    min-height: 85vh;
    padding: 1rem 0rem;
  }

  .p1-description {
    font-size: clamp(0.5rem, 4vw, 1rem);
  }

  .preview-container {
    height: 25rem;
  }

  .editor-nav-container {
    gap: 1rem;
  }

  .svg-edit-container {
    padding-top: 5.3rem;
  }
}

@media (max-width: 500px) {
  .p1 {
    padding-top: 4rem;
    padding-bottom: unset;
    min-height: 85vh;
  }

  .p1-description {
    max-width: 330px;
  }
  .preview-container {
    height: 70vw;
  }
  .svg-edit-container {
    padding-top: 2rem;
    margin-top: 4.3rem;
  }
}

@media (max-width: 450px) {
  .MainPage {
    padding-top: 2rem;
  }
}

.export-short {
  display: none;
}

@media (max-width: 800px) {
  .p2-container {
    flex-direction: column;
    gap: 1rem;
  }

  .export-short {
    display: block;
  }
  .export-wide {
    display: none;
  }

  .svg-edit-container {
    padding-bottom: 2rem;
  }
}

@media (max-width: 400px) {
  .p1-description {
    max-width: 280px;
    text-align: center;
  }
}

/* CONTACT FORM */

@media (max-width: 940px) {
  .colorIllustrator {
    display: none;
  }
}

.contact-main {
  margin: 0 auto;
  padding: 2rem;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
  color: black;
}

.form-title {
  font-size: 1.9rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.input-container {
  position: relative;
  width: 100%;
}

.input-field,
.textarea-field {
  display: block;
  width: 100%;
  padding: 10px 10px 10px 15px;
  font-size: 1rem;
  font-weight: 520;
  border: 0;
  border-bottom: 2px solid rgba(14, 14, 14, 0.7);
  border-radius: 4px;
  outline: none;
  background-color: transparent;
}

.textarea-field {
  resize: vertical;
  max-height: 100px;
}

.input-label {
  position: absolute;
  pointer-events: none;
  top: 0.5rem;
  left: 0.3rem;
  font-size: 1rem;
  color: rgb(53, 53, 53);
  transition: all 0.5s ease-in;
}

.input-field:focus ~ .input-label,
.input-field:valid ~ .input-label,
.textarea-field:focus ~ .input-label,
.textarea-field:valid ~ .input-label,
.input-label.active {
  font-size: 0.6rem;
  padding: 0.3rem;
  background-color: black;
  border-radius: 8px;
  color: white;
  transform: translateX(-4px) translateY(-20px);
}

.input-field:focus,
.input-field:valid,
.textarea-field:focus,
.textarea-field:valid {
  border: 2px solid black;
}

.input-field.active-input:not(:focus),
.textarea-field.active-input:not(:focus) {
  border: 2px solid black;
}

.submit-button {
  background-color: #27282f;
  color: white;
  padding: 0.5rem 0.3rem;
  border: none;
  border-radius: 32px;
  font-size: 0.8rem;
  font-weight: 650;
  cursor: pointer;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #1a1b20;
}

.submit-button:disabled {
  background-color: #6c6d76;
  cursor: not-allowed;
}

.status-message {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  text-align: center;
}

.status-message.success {
  background-color: rgba(76, 175, 80, 0.1);
  color: #2e7d32;
}

.status-message.error {
  background-color: rgba(244, 67, 54, 0.1);
  color: #c62828;
}

/* FOOTER */

.contactLogos {
  align-self: center;
  display: flex;
  gap: 3rem;
}
